USE [master]
GO
/****** Object:  Database [GoldenDb]    Script Date: 28.11.2025. 02:46:53 ******/
CREATE DATABASE [GoldenDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoldenDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GoldenDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoldenDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GoldenDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoldenDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[GoldenDb] TO [DESKTOP-2IRHDKS\Nemanja]
GO
USE [GoldenDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28.11.2025. 02:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[__EFMigrationsHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Artikli]    Script Date: 28.11.2025. 02:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[JedinicaMere] [nvarchar](max) NOT NULL,
	[Cena] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Artikli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Artikli] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Jela]    Script Date: 28.11.2025. 02:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jela](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Opis] [nvarchar](254) NULL,
	[JedinicaMere] [nvarchar](max) NOT NULL,
	[Kolicina] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Jela] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Jela] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Recepture]    Script Date: 28.11.2025. 02:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdJelo] [int] NOT NULL,
	[IdArtikal] [int] NOT NULL,
	[Kolicina] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Recepture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Recepture] TO  SCHEMA OWNER 
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251128005320_Init', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Artikli] ON 

INSERT [dbo].[Artikli] ([Id], [Naziv], [JedinicaMere], [Cena], [IsActive]) VALUES (1, N'Mleveno meso', N'KG', CAST(850.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Artikli] ([Id], [Naziv], [JedinicaMere], [Cena], [IsActive]) VALUES (2, N'Pirinač', N'KG', CAST(310.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Artikli] ([Id], [Naziv], [JedinicaMere], [Cena], [IsActive]) VALUES (3, N'Kupus', N'KG', CAST(42.92 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Artikli] OFF
GO
SET IDENTITY_INSERT [dbo].[Jela] ON 

INSERT [dbo].[Jela] ([Id], [Naziv], [Opis], [JedinicaMere], [Kolicina], [IsActive]) VALUES (1, N'Sarma', N'Domaće srpsko jelo', N'POR', CAST(5.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Jela] ([Id], [Naziv], [Opis], [JedinicaMere], [Kolicina], [IsActive]) VALUES (2, N'Punjene paprike', NULL, N'POR', CAST(20.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Jela] ([Id], [Naziv], [Opis], [JedinicaMere], [Kolicina], [IsActive]) VALUES (3, N'Test primer za brisanje', NULL, N'KOM', CAST(5.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Jela] OFF
GO
SET IDENTITY_INSERT [dbo].[Recepture] ON 

INSERT [dbo].[Recepture] ([Id], [IdJelo], [IdArtikal], [Kolicina]) VALUES (8, 1, 1, CAST(0.60 AS Decimal(18, 2)))
INSERT [dbo].[Recepture] ([Id], [IdJelo], [IdArtikal], [Kolicina]) VALUES (9, 1, 2, CAST(0.10 AS Decimal(18, 2)))
INSERT [dbo].[Recepture] ([Id], [IdJelo], [IdArtikal], [Kolicina]) VALUES (10, 1, 3, CAST(0.75 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Recepture] OFF
GO
/****** Object:  Index [IX_Recepture_IdArtikal]    Script Date: 28.11.2025. 02:46:53 ******/
CREATE NONCLUSTERED INDEX [IX_Recepture_IdArtikal] ON [dbo].[Recepture]
(
	[IdArtikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recepture_IdJelo_IdArtikal]    Script Date: 28.11.2025. 02:46:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Recepture_IdJelo_IdArtikal] ON [dbo].[Recepture]
(
	[IdJelo] ASC,
	[IdArtikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artikli] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Jela] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Recepture]  WITH CHECK ADD  CONSTRAINT [FK_Recepture_Artikli_IdArtikal] FOREIGN KEY([IdArtikal])
REFERENCES [dbo].[Artikli] ([Id])
GO
ALTER TABLE [dbo].[Recepture] CHECK CONSTRAINT [FK_Recepture_Artikli_IdArtikal]
GO
ALTER TABLE [dbo].[Recepture]  WITH CHECK ADD  CONSTRAINT [FK_Recepture_Jela_IdJelo] FOREIGN KEY([IdJelo])
REFERENCES [dbo].[Jela] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recepture] CHECK CONSTRAINT [FK_Recepture_Jela_IdJelo]
GO
USE [master]
GO
